@model IEnumerable<GiuaKy.Models.SINHVIENS>

@{
    ViewBag.Title = "Tìm kiếm sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable', {
            lengthMenu: [
                [2, -1],
                [2, 'All']
            ]
        });
    </script>
}
@using (Html.BeginForm("FindID", "sinhvien", FormMethod.Post))
{
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <div class="card">
            <div class="row">
                <div class="card-body">
                    <div class="row g-4 align-items-center justify-content-center">
                        <div class="col-md-3">
                            <div class="col-auto d-flex">
                                <label class="col-form-label col-md-3 fw-bold me-2">Mã sinh viên</label>
                                <input type="text"  id="searchId" name ="filterId" class="form-control rounded-1" value="@ViewBag.FilterId"/>
                            </div>
                            <br class="my-1" />
                            <div class="col-auto d-flex">
                                <label class="col-form-label col-md-3 fw-bold me-2">Họ Tên</label>
                                <input type="text" id="searchname" name="filterName" class="form-control rounded-1" value="@ViewBag.FilterName"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group justify-content-center">
                    <button type="submit" class="btn btn-primary mx-5 rounded">Tìm kiếm</button>
                    <a href=" @Url.Action("FindID","sinhvien")" class="btn btn-primary rounded">Nhập mới</a>
                </div>
                <div class="input-group justify-content-center">
                    <p class="fst-italic text-danger mt-2">@ViewBag.Message</p>
                </div>
            </div>
        </div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="card">
                    <div class="card-body">
                        <!--Hiển thị dòng thông báo-->
                        <table class="table table-bordered table-striped " id="myTable">
                            <thead>
                                <tr class="text-primary">
                                    <th>STT</th>
                                    <th> @Html.DisplayNameFor(model => model.masv) </th>
                                    <th> @Html.DisplayNameFor(model => model.hosv) </th>
                                    <th> @Html.DisplayNameFor(model => model.tensv)</th>
                                    <th> @Html.DisplayNameFor(model => model.gioitinh)</th>
                                    <th> @Html.DisplayNameFor(model => model.ngaysinh)</th>
                                    <th> @Html.DisplayNameFor(model => model.anhsv) </th>
                                    <th> @Html.DisplayNameFor(model => model.diachi)</th>
                                    <th> @Html.DisplayNameFor(model => model.malop)</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(modelItem => item.masv)</td>
                                            <td>@Html.DisplayFor(modelItem => item.hosv)</td>
                                            <td>@Html.DisplayFor(modelItem => item.tensv)</td>
                                            <td>
                                                @if (item.gioitinh == 1)
                                                {
                                                    <span>Nữ</span>
                                                }
                                                else if (item.gioitinh == 0)
                                                {
                                                    <span>Nam</span>
                                                }
                                            </td>
                                            <td>@item.ngaysinh.ToString("dd/MM/yyyy")</td>
                                            <td>@Html.DisplayFor(model => item.anhsv)</td>
                                            <td>@Html.DisplayFor(modelItem => item.diachi)</td>
                                            <td>@Html.DisplayFor(modelItem => item.LOPS.tenlop)</td>
                                            <td>
                                                <a href="@Url.Action("Details", "sinhvien", new { id = item.masv })" class="btn-sm btn-primary">Xem chi tiết</a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>

                        </table>
                    </div> <!-- /.card-footer-->
                </div><!-- /.card -->
            </section><!-- /.content -->
        </div> <!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
}   